In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="sqlpassword"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fae8a12a940>

In [5]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

In [6]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
   user="root",
  password="sqlpassword",
  database="mydatabase"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
   user="root",
  password="sqlpassword",
  database="mydatabase"
)
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="sqlpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [16]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="sqlpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [17]:
mycursor.execute("SELECT * FROM customers")

In [18]:
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Peter', 'Lowstreet 4', 1)
('Amy', 'Apple st 652', 2)
('Hannah', 'Mountain 21', 3)
('Michael', 'Valley 345', 4)
('Sandy', 'Ocean blvd 2', 5)
('Betty', 'Green Grass 1', 6)
('Richard', 'Sky st 331', 7)
('Susan', 'One way 98', 8)
('Vicky', 'Yellow Garden 2', 9)
('Ben', 'Park Lane 38', 10)
('William', 'Central st 954', 11)
('Chuck', 'Main Road 989', 12)
('Viola', 'Sideway 1633', 13)